doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Anthony Cheng
    link(rel="stylesheet" href="styles/style.css")
    link#blackoot-webfonts-css(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Quicksand:400italic,700italic,400,700&subset=latin,latin-ext" type="text/css" media="all")
  body
    #container
      #vertical-spacer
      #header
        a(href="about.html")
          | ANTHONY CHENG
      #navbar
        #inner-navbar
          #hamburger(onclick="handleHamburgerClick()")
            .hamburger-icon
              .bar1
              .bar2
              .bar3
            span
              | MENU
          ul#navbar-list
            li
              a(href="activities.html") activites
            li
              a(href="classes.html") classes
            li
              a(href="projects.html") projects
            li
              a(href="things.html") things that provoke thought
            li
              a(href="blog.html") blog
            li
              a(href="about.html") about
      #pagetitle
        block pagename
      #pagebody
        block pagecontent
      #footer
        #inner-footer
          #footer-left
            | Copyright (c) 2020, 
            a#profile-link(href="https://github.com/leoncheng57/" alt="See Leon Cheng's GitHub") Leon Cheng
            |  & Anthony Cheng. Inspired by 
            a(href="https://wordpress.org/") WordPress
            |                     and design from 
            a(href="https://www.iceablethemes.com/") Iceable Themes
            | .
          #footer-right
            ul
              li
                a(href="#") Email Me
              li
                a(href="#") Twitter
              li
                a(href="#") LinkedIn
              li
                a(href="#") GitHub
    script.
      function handleHamburgerClick() {
      document.getElementById("hamburger").classList.toggle("change");
      document.getElementById("navbar-list").classList.toggle("dropdown");
      }
