extends _base.pug

block pagename
    p Things

block pagecontent
    #inner-pagebody
        p
            | Hi, words words words.
            | Click on this 
            a(href="#") link
            |  to learn more.
        p
            | Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words
        p
            | Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words
