#header {
    @include header-font();
    font-size: 45px;
    text-align: center;
    background: $gray-primary;
    padding: 50px;

    a {
        text-decoration: none;
        color: inherit;
    }
}
