// Colors
$light: rgb(198,198,198);
$background: rgb(19,19,19);
$gray-primary: rgb(22,22,22);
$gray-secondary: rgb(32,32,32);
$dark: black;


// Fonts
$header-font: Quicksand,"Open Sans",Helvetica,Arial,Verdana,sans-serif;
$body-font: "Open Sans",Helvetica,Arial,Verdana,sans-serif;


@mixin header-font {
    font-family: $header-font;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: normal;
    word-spacing: normal;
    color: $light;
}



body {
    background: $background;
    color: $light;
    box-sizing: border-box;
    margin: 0px;
}

#vertical-spacer {
    height: 40px;
    background: $dark;
    margin: 0px;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

@import 'header';
@import 'navbar';

#pagetitle {
    background: $gray-primary;
}

#pagebody {
    background: $gray-secondary;
}

#footer {
    background: $dark;
}